//Font
$primary-font: 'Ubuntu', sans-serif;
$primary-font-size: large;

//Color
$primary-accent-color: #4a01ff;
$secondary-accent-color: #d04cff;
$tertiary-accent-color: #ff4197;
$dark-color: #1a1a1a;
$dark-grey-color: #333333;
$light-grey-color: #dddddd;
$light-color: #eeeeee;

//Social colors
$email-color: #299eff;
$linkedin-color: #083e69;
$github-color: #009207;
$cv-color: #86005e;

//Font size
$text-font-size: 100%;

//Radius
$border-radius: 10px;
$small-border-radius: 5px;