@import "../../style/abstract/var";

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}