@import 'tailwindcss';

@theme {
    --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  min-height: 100vh;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body,
div,
header,
main,
footer,
nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
}

/* Global styles */
body {
    /* Font */
    font-size: 100%;

    /* Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h4 {
        font-size: 1em;
        font-weight: bold;
    }
}

.content {
    padding: 5vw;

    section {
        padding: 4vw;
        padding-top: 15vw;
        padding-bottom: 15vw;
    }
}