@import 'tailwindcss';

@theme {
    --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    min-height: 100vh;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

/* Global styles */
body {
    /* Font */
    font-size: 100%;

    /* Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}