@import "../../style/abstract/var";

.header {
    background-image: radial-gradient(rgba($light-color, 0.2) 1px, transparent 0);
    background-size: 25px 25px;
    animation: move-it 10s linear infinite;
    min-height: 65vh;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;

    .header-info,
    .header-pic {
        flex: 1;
        margin: 5vw;
    }

    .social-btns {
        display: flex;
        flex-direction: row;
    }

    .header-pic {
        background-color: red;
        display: flex;
        overflow: hidden;
        max-width: 20vw;
        max-height: 20vw;
        border-radius: 50%;
        transition: 1s;

        &:hover {
            border-radius: $border-radius;
        }
    }

    h1 {
        color: $primary-accent-color;
    }

    * {
        z-index: 2;
    }
}

@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 100px;
    }
}

.title {
    font-size: 5rem;
    text-align: justify;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .header {
        padding: 5vw;
        padding-top: 40%;
        min-height: 70vh;
        flex-direction: column;

        .header-pic {
            max-width: 70vw;
            max-height: 70vw;
        }
    }

    .title {
        font-size: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    .header {
        background-image: radial-gradient(rgba($dark-color, 0.2) 1px, transparent 0);
    }
}
