@import "../../style/abstract/var";
@import "../../style/abstract/mixin";

.navbar {
	color: $light-color;
	background-color: rgba($dark-grey-color, 0.3);
	height: 14vw;
	max-height: 14vh;
	width: auto;
	position: fixed;
	z-index: 999;
	transition: 1s;
	display: flex;
	align-items: center;
	border-bottom: 2px solid rgba($light-grey-color, 0.2);
	@include acrylic();

	.nav-item {
		display: flex;
		color: $light-color;
		padding: 15px;
		text-decoration: none;
		margin: 10px;
		border: 2px solid transparent;
		border-radius: $border-radius;
		transition: 1s;
		cursor: pointer;

		i {
			font-style: normal;
			padding: 5px;
		}

		&:hover,
		&:focus {
			background-color: rgba($light-grey-color, 0.3);
			border: 2px solid rgba($light-color, 0.1);
		}
	}
}

@media screen and (max-width: 800px) {
	.navbar {
		.nav-item {
			padding: 10px;
			font-size: 120%;

			.nav-item-label {
				display: none;
			}
		}
	}
}

@media (prefers-color-scheme: light) {
	.navbar {
		color: $dark-color;
		background-color: rgba($light-color, 0.5);
		border: 1px solid rgba($light-grey-color, 0.7);

		.nav-item {
			color: $dark-color;

			&:hover,
			&:focus {
				background-color: rgba($dark-grey-color, 0.1);
				border: 2px solid rgba($dark-color, 0.05);
			}
		}
	}
}
