@import "../../styles/abstract/var";
@import "../../styles/abstract/mixin";

.navbar {
	color: $dark-color;
	background-color: rgba($light-color, 0.3);
	height: 12vw;
	max-height: 10vh;
	width: auto;
	position: fixed;
	z-index: 9;
	margin: 1vw;
	transition: 1s;
	display: flex;
  	align-items: center;
	border-radius: $border-radius;
	border: 1px solid rgba($light-color, 0.3);
	box-shadow: 0 0 10px rgba($light-color, 0.3);
	@include acrylic();

	.nav-item {
		color: $dark-color;
		background-color: transparent;
		padding: 30px;
		text-decoration: none;
		margin: 10px;
		transition: 1s;
		cursor: pointer;

		&:hover, &:focus {
			scale: 1.1;
			text-shadow: 1px 1px 10px $light-color;
		}
	}
}

@media screen and (max-width: 800px) {
	.navbar {
		.nav-item {
			padding: 10px;
			font-size: 120%;

			.nav-item-label {
				display: none;
			}
		}
	}
}

@media (prefers-color-scheme: light) {
	.navbar {
		color: $light-color;
		background-color: rgba($dark-color, 0.5);
		border: 1px solid rgba($dark-color, 0.3);
		box-shadow: 0 0 10px rgba($dark-color, 0.3);

		.nav-item {
			color: $light-color;

			&:hover, &:focus {
				text-shadow: 1px 1px 10px $dark-color;
			}
		}
	}
}