@import "../../style/abstract/var";

.footer {
	padding: 2vw;
	margin: 2vw;
	background-color: rgba($light-grey-color, 0.1);
	border-radius: $border-radius;
	left: 0;
	bottom: 0;
	transition: 1s;

    &:hover {
        scale: 1.02;
    }

	p {
		text-align: center;
		font-size: 1rem;
		font-weight: lighter;
	}
}

@media (prefers-color-scheme: light) {
	.footer {
		background-color: rgba($dark-grey-color, 0.1);
	}
}