@import "../../../style/abstract/var";

.toggle {
    display: flex;
    gap: 10px;
    margin: 15px;
    border-radius: $border-radius;
    border: 2px solid rgba($light-grey-color, 0.2);

    .toggle-btn {
        padding: 10px;
        border-radius: $border-radius;
        transition: 1s;

        &:hover {
            background-color: $primary-accent-color;
        }

        &.active {
            background-color: $secondary-accent-color;
        }
    }
}

@media (prefers-color-scheme: light) {
    .toggle {
        border: 2px solid rgba($dark-grey-color, 0.2);
    }
}